/*------------------------------------------------------------------Bases----------------------------------------------------*/
*{
    margin: 0;
}

html{
    background: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body{
    background-color: rgba(255,255,255, 0.5);
    margin:0;    
    font-family: "Orbitron", sans-serif;
}


section, form{
    padding: 35px;
}

fieldset{
    margin: 0 -17.5px;
}


#contenu{
    padding-left: 5%;
    padding-right: 5%;
}

#contenu li{    
    font-size: 25px;
}

h2{
    font-size: 49px;
    margin-bottom: 17.5px;
}

.pair{
    background-color: rgba(97, 97, 97, 0.3);
}

.impair{
    background-color: rgba(6, 7, 68, 0.25);
}

/*------------------------------------------------------------------Header---------------------------------------------------*/
header{
    background-image: url(../assets/bandeau.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8.75px 17.5px;
    box-shadow: rgb(50,50,50) 1.75px 8.75px 8.75px;
}

[alt="photo de profil"]{
height: 262.5px;
box-shadow: rgba(0,0,0, 0.8) 0 0 8.75px;
border: 1px black solid;
border-radius: 5px;
}

[alt="photo de profil"]:hover{
    cursor: pointer;
}

[alt="photo de profil"]:active{
    box-shadow: rgba(255,255,255, 1) 0px 0px 17.5px;
}

#menu{    
    flex:2;
}

header nav{
    display: flex;
    margin: 0 5%;
    justify-content: space-evenly;
}

nav a{
    text-align: center;
    width: 157.5px;
    padding: 8.75px 5.25px;
    color: black;
    text-decoration: none;
    background-color: rgb(225, 225, 225);
    border: rgb(150, 150, 150) 1.75px solid;
    border-radius: 8.75px;
    font-family: 'VT323', monospace;
    font-size: 28px;
}

nav a:visited{
    color: black;
}

nav a:active{
    color: rgb(225, 225, 225);
    background-color: rgb(25, 25, 25);
    border: rgb(100, 100, 100) 1.75px solid;    
}

[alt="icone de menu"]{
    display: none;
}

/*------------------------------------------------------------------Carte de Visite------------------------------------------*/
#overflowed{
    position: sticky;
    top: 35px;
    margin-top: 17.5px;
    height: 0px;
}

#carteDeVisite{
    display: flex;
    position: absolute;
    right: 1.75px;
    width: 262.5px;
    align-items: center ;
    flex-direction: column;
}

#carteDeVisite img{
    content: url(../assets/infos.png);
    background-color: rgba(255,255,255, 0.75);
    border-radius: 50%;
    box-shadow: rgba(0,0,0, 0.8) 0 0 8.75px;
    width: 50%;
    height: auto;
    margin-bottom: 8.75px;
}

#carte{
    border: rgba(50,50,50, 1) solid 1.75px;
    border-radius: 8.75px;
    background-color: rgba(75,75,75, 0.7);
    box-shadow: rgba(0,0,0, 0.5) 8.75px 8.75px 8.75px;
    padding: 8.75px;
    display: none;
    margin-right: 35px;
    font-size: 30px;
}

#carte p{
    margin:0;
    text-shadow: rgba(255,255,255, 1) 0.875px 1.15px 1.75px;
}
/*------------------------------------------------------------------CDV: hover-----------------------------------------------*/

#carteDeVisite img:hover{
    cursor: pointer;
}

/*------------------------------------------------------------------CDV: active----------------------------------------------*/

#carteDeVisite img:active{
    content: url(../assets/infos_active.png);
    background-color: rgba(50,50,50, 0.75);
    box-shadow: rgba(255,255,255, 1) 0px 0px 17.5px;
}

/*------------------------------------------------------------------Home-----------------------------------------------------*/

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 70px;
    margin-top: -12.25px;
}

#home h1{
    font-size: 87.5px;
}

#home p{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 43.75px;
    text-align: center;
    margin-top: 17.5px;
}

/*------------------------------------------------------------------Atouts/Outils---------------------------------------------*/

#atout_tool legend{
    font-size: 49px;
    font-weight: bold;
}

#atout_tool div{    
    display: flex;
    justify-content: space-evenly;
}

#atout_tool caption{
    font-weight: bold;
    font-size: 35px;
}

#atout_tool table{
    border: solid gray 1px;
    border-collapse: collapse;
    font-size: 25px;
}

#atout_tool td:last-child{
    text-align: center;
}

#atout_tool td{
    border-top: solid 1.75px grey;
    box-shadow: white 0 0 3.5px;
}

/*------------------------------------------------------------------Contact--------------------------------------------------*/

#contact legend{
    font-size: 49px;
    font-weight: bold;
}

#contact fieldset>div{
    display: flex;
    justify-content: center;    
    font-size: 25px;

}

#label, #input{
    display: grid;
    grid-auto-rows: minmax(35px, auto);
}
 #label{
     grid-auto-rows: minmax(auto, 46.4px);
     margin-right: 8.75px;
 }

#mail, #about{
    max-height: 46.75px ;
} 

#input textarea{
    margin-bottom: 8.75px;
    font-size: 25px;
}

input[value= "Valider"]{
    width: 122.5px;
    border-radius: 17.5px;
    margin: 0px auto;
    max-height: 52.5px;
    font-size: 20px;
}

/*------------------------------------------------------------------Footer---------------------------------------------------*/

footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(6, 7, 68, 0.8);
    padding: 17.5px 0;
}

footer nav{
    flex:1;
    display: flex;
    margin: 0 5%;
    justify-content: space-evenly;
}

/*------------------------------------------------------------------Responsive Tablette/Mobile en Paysage--------------------*/

@media all and (max-width:1024px){
    body{
        background-color: green;/*--------Repère de rupture--*/
    }
}

/*------------------------------------------------------------------Responsive Mobile en Portrait----------------------------*/

@media all and (max-width:600px){
    body{
        background-color: red;/*----------Repère de rupture--*/
    }

    header nav{
        display:none;
    }
}